@use "@angular/material" as mat;

// Custom color variables
$base-light: #f5f5f5;

$my-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$magenta-palette,
    ),
    typography: (
      plain-family: 'Plus Jakarta Sans',
      brand-family: 'Plus Jakarta Sans',
    ),
    density: (
      scale: 0,
    ),
  )
);

// Apply the theme globally
html {
  @include mat.all-component-themes($my-theme);
  @include mat.typography-hierarchy($my-theme);
}

:root {
  --mdc-filled-button-container-shape: 10px;
  --mdc-outlined-button-container-shape: 10px;
  --mdc-text-button-container-shape: 10px;
}

button,
button.mat-mdc-button,
button.mat-mdc-raised-button,
button.mat-mdc-unelevated-button,
button.mat-mdc-outlined-button,
button.mat-mdc-icon-button,
button.mdc-button {
  padding: 20px;
  border-radius: 10px;
}
