<a
  class="mb-3 back-button text-primary text-decoration-none"
  (click)="goBack(); $event.preventDefault()"
  (keyup.enter)="goBack()"
  (keyup.space)="goBack(); $event.preventDefault()"
  role="button"
  tabindex="0"
>
  ← Späť na tabuľku
</a>

@if (subjectData) {
  <h2>
    {{ subjectData.name }}
  </h2>
}

<div class="row row-gap-3">
  <div class="col-12 col-md-6">
    <mat-card>
      <!-- Radar Chart Container -->
      <canvas #chart id="chart"></canvas>
    </mat-card>
  </div>
  <div class="col-12 col-md-6">
    <mat-card>
      <!-- Bar Chart Container -->
      <canvas #barChart id="barChart"></canvas>
    </mat-card>
  </div>
</div>
