html, body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  height: 100%;
}

#main-container {
  display: flex;
  flex-direction: column;
  // 100 % - header height
  min-height: calc(100vh - 64px);
  background-color: $base-light;
}

#main-main {
  flex-grow: 1;
  display: flex;
  padding: 20px 0;
}
