<ng-container>
  <div class="row m-0">
    <div class="card col-12 col-md-6 p-0">
      <div class="card-header">
        <h2 class="card-title mb-0">Wordcloud slov</h2>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="chart-wrapper">
              <div
                #wordCloudContainer
                class="chart-container"
                [class.chart-hidden]="wordCloudLoading"
              ></div>
              @if (wordCloudLoading) {
                <div class="chart-skeleton"></div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card col-12 col-md-6 p-0">
      <div class="card-header">
        <h2 class="card-title mb-0">Najpopulárnejšie oblasti predmetov</h2>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="chart-wrapper">
              <canvas
                #pieChartCanvas
                class="chart-canvas"
                [class.chart-hidden]="pieChartLoading"
              ></canvas>
              @if (pieChartLoading) {
                <div class="chart-skeleton"></div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card col-12 col-md-6 p-0">
      <div class="card-header">
        <h2 class="card-title mb-0">Počet študentov podľa roku</h2>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="chart-wrapper">
              <canvas
                #barChartCanvas
                class="chart-canvas"
                [class.chart-hidden]="barChartLoading"
              ></canvas>
              @if (barChartLoading) {
                <div class="chart-skeleton"></div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card col-12 col-md-6 p-0">
      <div class="card-header">
        <h2 class="card-title mb-0">Najhorsi studentu</h2>
      </div>
      <div class="card-body">
        <app-student-marks-report></app-student-marks-report>
      </div>
    </div>
  </div>
</ng-container>
