<h2>Prehľad predmetov</h2>

<mat-card class="p-2">
  <div class="row">
    <div class="col-12 col-md-6">
      <form [formGroup]="filterForm" (ngSubmit)="studyProgramChanged()">
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Študijný program</mat-label>
          <mat-select
            formControlName="subjectForm"
            [(value)]="selectedStudyProgramId"
            (selectionChange)="studyProgramChanged()"
          >
            @for (program of studyPrograms$ | async; track program) {
              <mat-option
                [value]="program.id"
              >
                {{ program.name }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </form>
    </div>
    <div class="col-12 col-md-6">
      <mat-form-field appearance="outline" class="w-100 mb-3">
      <mat-label>Vyhľadať predmety</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="searchTerm"
        (ngModelChange)="onSearchChange($event)"
        placeholder="Zadajte názov predmetu..."
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    </div>
  </div>
  <mat-card-content>
    <app-subjects-table
      class="overflow-x-scroll"
      [dataSourceInput]="dataSource"
      [pageData]="pageData"
      [isLoading]="isLoading"
      (pageChange)="onPageChange($event)"
      (subjectDetailNavigate)="navigateToSubjectDetail($event)"
      >
    </app-subjects-table>
  </mat-card-content>
</mat-card>
