<h2>Prehľad predmetov</h2>

<mat-card class="p-2">
  <form [formGroup]="filterForm" (ngSubmit)="studyProgramChanged()">
    <mat-form-field appearance="outline" class="col-12 col-md-4 col-lg-3 col-xl-2">
      <mat-label>Študijný program</mat-label>
      <mat-select
        formControlName="subjectForm"
        [(value)]="selectedStudyProgramId"
        (selectionChange)="studyProgramChanged()"
      >
        @for (program of studyPrograms$ | async; track program) {
          <mat-option
            [value]="program.id"
          >
            {{ program.name }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>
  <mat-card-content>
    <app-subjects-table
      class="overflow-x-scroll"
      [dataSourceInput]="dataSource$"
      [pageData]="pageData"
      [isLoading]="isLoading"
      (pageChange)="onPageChange($event)"
      (subjectDetailNavigate)="navigateToSubjectDetail($event)"
      >
    </app-subjects-table>
  </mat-card-content>
</mat-card>
