@use "../../../../node_modules/bootstrap/scss/bootstrap" as *;

.table-wrapper {
  overflow: auto;

  table {
    width: 100%;
  }

  .mat-mdc-header-cell {
    background-color: #3f50b5;
    color: white;
    position: sticky;

    &.center {
      text-align: center;
    }
  }

  .mat-mdc-row:nth-child(even) .mat-mdc-cell {
    background-color: #eae9e9;
  }

  .mat-mdc-cell {
    &.center {
      text-align: center;
    }
  }
}
