@use "../../../assets/styles/auth.scss" as *;
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: 20px 0;
}
.login-wrapper {
  display: flex;
}
